{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Success</title>
    <!-- Include SweetAlert2 CSS and JS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10.15.7/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.15.7/dist/sweetalert2.all.min.js"></script>
    <link rel="icon" type="image/svg+xml" href="{% static 'image/Circles.svg' %}">
</head>
<body>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            Swal.fire({
                icon: 'success',
                title: 'Login Successful!',
                html: 'Welcome back! <b>{{ user }}</b>, <br> <br> You have successfully logged in.'
            }).then(function() {
                window.location.href = "{% url 'homepage' %}";  // Redirect to dashboard or home page
            });
        });
    </script>
</body>
</html>
